<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.indiv.dls.games.verboscruzados.feature"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".MainActivity"
            android:configChanges="screenLayout|orientation|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <meta-data android:name="default-url"
                       android:value="https://games.dls.indiv.or/verboscruzados" />

            <!-- For instant app -->
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="games.dls.indiv.org"
                    android:path="/verboscruzados"
                    android:scheme="https"/>
            </intent-filter>

            <!-- Main activity launched on startup -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>